<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      style="height: 100%;">
<head>
    <th:block th:replace="fragments/common/importFragment :: i-header"></th:block>
    <th:block th:replace="fragments/common/headerFragment :: header"></th:block>
</head>
<body>
<th:block th:replace="fragments/common/importFragment :: i-header"></th:block>
<th:block th:replace="fragments/common/mobileHeaderFragment :: mobileHeader"></th:block>
<div class="md:items-center " >

</div>
<th:block th:replace="fragments/common/importFragment :: i-footer"></th:block>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
<th:block th:replace="fragments/common/footerFragment :: footer"></th:block>
</body>

</html>