<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      style="height: 100%;">
<head>
    <th:block th:replace="fragments/common/importFragment :: i-header"></th:block>
    <th:block th:replace="fragments/common/headerFragment :: header"></th:block>
    <th:block th:replace="fragments/common/mobileHeaderFragment :: mobileHeader"></th:block>
</head>
<body>
<th:block th:replace="fragments/common/importFragment :: i-header"></th:block>

<div class="relative bg-gray-800 py-32 px-6 sm:py-40 sm:px-12 lg:px-16">
    <div class="absolute inset-0 overflow-hidden">
        <img src="/img/hompageimg.jpg" alt="" class="w-full h-full object-center object-fill">
    </div>
    <div aria-hidden="true" class="absolute inset-0 bg-gray-900 bg-opacity-50"></div>
    <div class="relative max-w-3xl mx-auto flex flex-col items-left text-center">
        <h1 class=" font-extrabold tracking-tight text-white sm:text-4xl" style="font-size: 4em;"></h1>
    </div>
</div>
<div>
    <h3 class="mx-5 md:mx-auto font-bold pt-4 md:py-10 max-w-7xl sm:px-6 text-2xl md:text-5xl"><!-- style="color: #222; font-size: 52px; font-weight: 600;">-->회사연혁</h3>
</div>
<!--<div style="height: 100px;">
    <h3 class = "pt-10 pb-10 max-w-7xl mx-auto sm:px-6" style="color: #222; font-size: 52px; font-weight: 600;">회사연혁</h3>
</div>-->
<div class="md:py-10 max-w-7xl mx-auto sm:px-6">
    <hr class="w-0 sm:w-full" style="margin: 0px auto; border: solid 1px black;">
</div>
<div class="md:w-4/6 w-5/6 md:h-72 h-24"
     style="
    margin: 50px auto;
    background: url(/img/history_tit_bg.jpg) 50% 0/cover no-repeat;">
</div>
<!--<div clss="w-5/6"
     style="
    align-items: center;
    max-width: 1200px;
    margin: 50px auto;
    height: 330px;
    background: url(/img/history_tit_bg.jpg) 50% 0/cover no-repeat;">
</div>-->

<div class="py-10 max-w-7xl mx-auto sm:px-6">
    <table class="w-full my-9">
        <tr>
            <td rowspan="1" class="w-1/6 md:text-2xl text-sm text-right">2015</td>
            <td rowspan="1" class="w-1/6 md:text-2xl text-center">|</td>
            <td class="w-3/6 md:text-xl text-xs pr-5">저작권위원회 상담관리시스템 등록</td>
        </tr>
    </table>
    <hr class="w-5/6" style="margin: 0px auto; border: solid 1px #dedef3;">
    <table class="w-full my-9">
        <tr>
            <td rowspan="1" class="w-1/6 md:text-2xl text-sm text-right">2012</td>
            <td rowspan="1" class="w-1/6 md:text-2xl text-center">|</td>
            <td class="w-3/6 md:text-xl text-xs pr-5">㈜아이티존 상호 변경</td>
        </tr>
    </table>
    <hr class="w-5/6" style="margin: 0px auto; border: solid 1px #dedef3;">
    <table class="w-full my-9">
        <tr>
            <td rowspan="2" class="w-1/6 md:text-2xl text-sm text-right">2011</td>
            <td rowspan="2" class="w-1/6 md:text-2xl text-center">|</td>
            <td class="w-3/6 md:text-xl text-xs pr-5">ITZ_Framework 출시</td>
        </tr>
        <tr>
            <td class="w-3/6 md:text-xl text-xs pr-5">ITZ_VOC_Solution 출시</td>
        </tr>
    </table>
    <hr class="w-5/6" style="margin: 0px auto; border: solid 1px #dedef3;">
    <table class="w-full my-9">
        <tr>
            <td rowspan="2" class="w-1/6 md:text-2xl text-sm text-right">2007</td>
            <td rowspan="2" class="w-1/6 md:text-2xl text-lg text-center">|</td>
            <td class="w-3/6 md:text-xl text-xs pr-5">PRITH-L (상품안내장 발송시스템) 출시</td>
        </tr>
        <tr>
            <td class="w-3/6 md:text-xl text-xs pr-5">PRITH-D (물류/택배부문 고객만족 컨택센터 시스템) 출시</td>
        </tr>
    </table>
    <hr class="w-5/6" style="margin: 0px auto; border: solid 1px #dedef3;">
    <table class="w-full my-9">
        <tr>
            <td rowspan="2" class="w-1/6 md:text-2xl text-sm text-right">2006</td>
            <td rowspan="2" class="w-1/6 md:text-2xl text-center">|</td>
            <td class="w-3/6 md:text-xl text-xs pr-5">예비벤처기업 인증(서울지방중소기업청)</td>
        </tr>
        <tr>
            <td class="w-3/6 md:text-xl text-xs pr-5">WebITZCRM Package 개발</td>
        </tr>
    </table>
    <hr class="w-5/6" style="margin: 0px auto; border: solid 1px #dedef3;">
    <table class="w-full my-9">
        <tr>
            <td rowspan="1" class="w-1/6 md:text-2xl text-sm text-right">2003</td>
            <td rowspan="1" class="w-1/6 md:text-2xl text-center">|</td>
            <td class="w-3/6 md:text-xl text-xs pr-5">㈜티비코리아 설립</td>
        </tr>
    </table>
</div>

<div class="md:py-10 max-w-7xl mx-auto sm:px-6">
    <hr class="w-5/6 sm:w-full" style="margin: 0px auto; border: solid 1px black;">
</div>

<section id="speakers" aria-labelledby="speakers-title" class="md:py-20 pt-10">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0">
            <h2 id="speakers-title" class="font-display text-xl md:text-4xl font-medium tracking-tighter text-blue-600">Speakers</h2>
            <p class="mt-4 mb-4 font-display text-lg md:text-2xl tracking-tight text-blue-900">
                21c국제화 시대를 선도할 수 있는
                전문화된 신기술을 바탕으로
                고객에게 신뢰받는 기업으로
                성장하고자 합니다.
            </p>
        </div>
        <div class="hidden sm:block py-6">
            <nav id = "comp_nav" class="relative z-0 rounded-lg shadow flex divide-x divide-gray-200 px-96" aria-label="comp_tabs">
            </nav>
        </div>
        <div class="sm:hidden">
            <label for="comp_tabs" class="sr-only">Select a tab</label>
            <select id="comp_tabs" name="comp_tabs" class="block w-full focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
                <option selected>My Account</option>
                <option>Company</option>
                <option>Team Members</option>
                <option>Billing</option>
            </select>
        </div>
        <!--<div class="mt-14 grid grid-cols-1 items-start gap-y-8 gap-x-8 sm:mt-16 sm:gap-y-16 lg:mt-24 lg:grid-cols-4">
            <div class="relative -mx-4 flex overflow-x-auto pb-4 sm:mx-0 sm:block sm:overflow-visible sm:pb-0" id = "mainDiv">
                <div class="absolute bottom-0 top-2 left-0.5 hidden w-px bg-slate-200 lg:block"></div>
                <div class="grid auto-cols-auto grid-flow-col justify-start gap-x-8 whitespace-nowrap px-4 sm:mx-auto sm:max-w-2xl sm:grid-cols-3 sm:px-0 sm:text-center lg:block lg:space-y-10 lg:text-left"
                     role="tablist" aria-orientation="vertical" id = "testDiv">
                </div>
            </div>
            <div class="lg:col-span-3">
                <div class="grid grid-cols-1 gap-x-8 gap-y-10 sm:grid-cols-2 sm:gap-y-16 md:grid-cols-3 [&amp;:not(:focus-visible)]:focus:outline-none"
                     id="listDiv" role="tabpanel" tabindex="0"
                     aria-labelledby="headlessui-tabs-tab-:R1j6l9m:">
                </div>
            </div>
        </div>-->
    </div>
</section>
<th:block th:replace="fragments/common/footerFragment :: footer"></th:block>
<th:block th:replace="fragments/common/importFragment :: i-footer"></th:block>
<script src="/js/web/compHistory.js"></script>
</body>
</html>