<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
    <div style="overflow-y: hidden" class="h-full p-2">
        <div class=" p-2 h-full flex flex-col border-2 border-slate-400 rounded-xl">
            <div class="flex w-full items-center">
                <div class="">
                    <button id="consultCallReserveFinishYn_btnY" type="button" class="mr-1 inline-flex items-center my-2 px-4 py-2 border border-gray-400 shadow-sm text-xs font-semibold rounded-md text-gray-700 bg-white focus:outline-none focus:ring-2 focus:ring-zinc-700 focus:ring-offset-2">
                        <i class="fa-solid fa-envelope-open-text -ml-1 mr-2 h-3 w-3"></i>
                        읽음
                    </button>
                    <button id="" type="button" class="mr-2 inline-flex items-center my-2 px-4 py-2 border border-gray-400 shadow-sm text-xs font-semibold rounded-md text-gray-700 bg-white focus:outline-none focus:ring-2 focus:ring-zinc-700 focus:ring-offset-2">
                        <i class="fa-regular fa-trash-can -ml-1 mr-2 h-3 w-3"></i>
                        삭제
                    </button>
                    <button id="" type="button" class="mr-2 inline-flex items-center my-2 px-4 py-2 border border-gray-400 shadow-sm text-xs font-semibold rounded-md text-gray-700 bg-white focus:outline-none focus:ring-2 focus:ring-zinc-700 focus:ring-offset-2">
                        <i class="fa-solid fa-circle-exclamation -ml-1 mr-2 h-3 w-3"></i>
                        스팸신고
                    </button>
                    <button id="" type="button" class="mr-2 inline-flex items-center my-2 px-4 py-2 border border-gray-400 shadow-sm text-xs font-semibold rounded-md text-gray-700 bg-white focus:outline-none focus:ring-2 focus:ring-zinc-700 focus:ring-offset-2">
                        <i class="fa-solid fa-arrow-turn-right -ml-1 mr-2 h-3 w-3"></i>
                        답장
                    </button>
                    <button id="" type="button" class="mr-2 inline-flex items-center my-2 px-4 py-2 border border-gray-400 shadow-sm text-xs font-semibold rounded-md text-gray-700 bg-white focus:outline-none focus:ring-2 focus:ring-zinc-700 focus:ring-offset-2">
                        <i class="fa-solid fa-arrow-up-right-from-square -ml-1 mr-2 h-3 w-3"></i>
                        전달
                    </button>
                    <button id="" type="button" class="mr-2 inline-flex items-center my-2 px-4 py-2 border border-gray-400 shadow-sm text-xs font-semibold rounded-md text-gray-700 bg-white focus:outline-none focus:ring-2 focus:ring-zinc-700 focus:ring-offset-2">
                        <i class="fa-regular fa-folder-closed -ml-1 mr-2 h-3 w-3"></i>
                        이동
                    </button>
                </div>
            </div>
            <div class="ag-theme-balham h-full w-full p-2 flex-1"  id="mailAll_grid" ></div>
        </div>
    </div>
</html>