<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="i-header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ITZ">
    <title>
        ITZ
    </title>

    <link rel="favicon" href="/img/icon/itz_logo_icon.ico">
    <!--    <script src="/lib/aggrid/ag-grid-locale-ko.js"></script>-->
    <!--    <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>-->
    <!--    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/styles/ag-grid.css"/>-->
    <!-- Include the theme CSS, only need to import the theme you are going to use -->
    <!--    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/styles/ag-theme-alpine.css"/>-->
    <!--    <link href="/lib/aggrid/ag-grid.css" rel="stylesheet">-->
    <!--    <link href="/lib/aggrid/ag-theme-alpine.css" rel="stylesheet">-->
    <link href="/lib/fontawesome/css/all.css" rel="stylesheet">

    <script src="/lib/tailwind/tailwind.min.js"></script>
    <link href="/css/common/common.css" rel="stylesheet">
    <link href="/css/common/main.css" rel="stylesheet">
    <link href="/css/common/menu.css" rel="stylesheet">
    <link href="/css/common/tab.css" rel="stylesheet">
</th:block>

<th:block th:fragment="i-footer">
    <!--lib-->
    <script src="/lib/socket/sockjs.min.js"></script>
    <script src="/lib/socket/stomp.min.js"></script>
    <script src="/lib/jquery/jquery-3.6.0.js"></script>
    <script src="/lib/tree/tree.js"></script>
    <script src="/lib/aggrid/ag-grid-locale-ko.js"></script>
    <script src="/lib/aggrid/ag-grid-community.28.0.2.min.js"></script>

    <!--common-->
    <script src="/js/common/url.js"></script>
    <script src="/js/common/linkedList.js"></script>
    <script src="/js/common/common.js"></script>
    <script src="/js/common/error.js"></script>
    <script src="/js/common/menu.js"></script>
    <script src="/js/common/tab.js"></script>
    <script src="/js/common/grid.js"></script>
    <script src="/js/common/itzAlert.js"></script>
    <script src="/js/common/eventSocket.js"></script>
    <script src="/js/common/commonInit.js"></script>
</th:block>

</html>