<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      style="height: 100%;">
<head>
    <th:block th:replace="fragments/common/importFragment :: i-header"></th:block>
</head>
<body class="overflow-hidden">
<div>
    <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
    <th:block th:replace="fragments/common/loaderFragment :: loader"></th:block>

<!--    <th:block th:replace="fragments/common/menuFragment :: mobileMenu"></th:block>-->
    <div class="hidden" id="divNotice">
        <th:block th:replace="fragments/common/alertFragment :: notice"></th:block>
    </div>
    <div class="hidden" id="divAlert">
        <th:block th:replace="fragments/common/alertFragment :: alert"></th:block>
    </div>
    <div class="hidden" id="divConfirm">
        <th:block th:replace="fragments/common/alertFragment :: confirm"></th:block>
    </div>
    <div class="hidden" id="divError">
        <th:block th:replace="fragments/common/alertFragment :: error"></th:block>
    </div>
    <!-- Static sidebar for desktop -->
    <th:block th:replace="fragments/common/menuFragment :: desktopMenu"></th:block>
    <th:block th:replace="fragments/common/menuFragment :: mobileMenu"></th:block>


    <div id="divRight" class="md:pl-14 flex flex-col flex-1 h-screen" >
        <!--header area-->
        <div id="divHeader" class="bg-white sticky top-0 flex-shrink-0 flex h-16">
            <button id="btnMobileMenu" type="button" class="px-4 border-r border-gray-200 text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500 md:hidden">
                <span class="sr-only">Open sidebar</span>
                <!-- Heroicon name: outline/menu-alt-2 -->
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h7" />
                </svg>
            </button>
            <div class="flex-1 px-4 flex justify-between">
                <div class="md:flex-1 flex ">

                </div>
                <div class="flex flex-wrap items-center">
                    <input class="hidden" id="sessionUser" th:value="${session.user}"/>
                    <!--                    <input class="hidden" id="cti_klcns_url" th:value="${@environment.getProperty('cti.klcns.url')}"/>-->
                    <!--                    <input class="hidden" id="cti_klcns_port" th:value="${@environment.getProperty('cti.klcns.port')}"/>-->
                    <!--                    <input class="hidden" id="cti_ext_no" th:value="${@environment.getProperty('cti.klcns.port')}"/>-->
                    <div class="flex items-center">
                        <span class="m-2" th:text="${session.user.userNm}"></span>
                    </div>

                    <button type="button" id="mainHeader_btnLogout" class="mx-1 inline-flex items-center rounded-full px-3 py-2 text-base font-medium shadow-sm focus:outline-none focus:ring-2 focus:ring-zinc-800 focus:ring-offset-2">
                        <i class="fa-solid fa-power-off mx-1 mt-1"></i>
                    </button>
                </div>
            </div>
        </div>
        <!--tab area-->
        <div class="flex sticky h-8 top-16 m-0">
            <div id= "divTab" class="flex  flex-shrink-0 bg-stone-200 h-auto text-sm pt-1 justify-left focus:border-3 focus:border-indigo-500 border-b-0">

            </div>
            <div class="border-b-2 border-indigo-900 flex flex-1 bg-stone-200"></div>
        </div>

        <div id="divPage" class="flex-1 w-full overflow-y-auto">
        </div>
    </div>
</div>

<!--<th:block th:replace="fragments/main/mainHeaderFragment :: mainHeader"></th:block>
<th:block th:replace="fragments/main/mainTabFragment :: mainTab"></th:block>
-->
<th:block th:replace="fragments/common/importFragment :: i-framefooter"></th:block>
</body>

</html>