<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      style="height: 100%;">
<head>
    <th:block th:replace="fragments/common/importFragment :: i-header"></th:block>
    <th:block th:replace="fragments/common/headerFragment :: header"></th:block>
</head>
<body>
<th:block th:replace="fragments/common/importFragment :: i-header"></th:block>
<th:block th:replace="fragments/common/mobileHeaderFragment :: mobileHeader"></th:block>
<div class="flex h-full w-full">
    <th:block th:replace="fragments/common/menuFragment :: Menu"></th:block>
    <div class="ml-20 flex-1 flex flex-col h-full" id="divRight">
        <div class="px-4  max-h-screen">
            <div class="ml-4 mt-2">
                <h3 class="text-lg leading-6 font-medium text-gray-900">구축사례 관리</h3>
            </div>
            <div class=" grid-cols-2 sm:flex " style="height: 75vh;">


                <div class = "px-4 w-full h-full">
                    <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
                        <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-nowrap">
                            <!--조회조건-날짜입력 대표님이 조회빼라고하심 07.07-->
                            <div class="ml-4 mt-2">
        <!--                        <input type="month" id="projYear">-->
                            </div>
                            <!--신규/저장/조회/삭제버튼-->
                            <div class="ml-4 mt-2 flex-shrink-0">
                                <button type="button" id = "btnNewProjHistory" class="relative inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">신규</button>
                                <button type="button" id = "btnSaveProjHistory" class="relative inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">저장</button>
        <!--                        <button type="button" id = "btnSearchProjHistory" class="relative inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">조회</button>-->
                                <button type="button" id = "btnDeleteProjHistory" class="relative inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">삭제</button>
                            </div>
                        </div>
                    </div>

                    <!-- 구축사례목록 그리드 -->
                    <div class = "ag-theme-balham h-full" id="CompanyProjHistoryGrid" style=" margin-top: 20px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments/common/footerFragment :: footer"></th:block>
<th:block th:replace="fragments/common/importFragment :: i-footer"></th:block>
<script src="/js/web/company/companyProjHistoryManage.js"></script>
</body>

</html>