<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/common/importFragment :: i-header"></th:block>
    <th:block th:replace="fragments/common/headerFragment :: header"></th:block>
</head>
<body>
<th:block th:replace="fragments/common/importFragment :: i-header"></th:block>
<th:block th:replace="fragments/common/mobileHeaderFragment :: mobileHeader"></th:block>
<div class="max-w-7xl mx-auto pt-10 pl-20 w-full py-5 sm:px-6 sm:py-4 lg:px-8 ">
<img class="my-2" src="/img/11.png">
</div>
<th:block th:replace="fragments/common/importFragment :: i-footer"></th:block>
</body>
</html>