<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/common/importFragment :: i-header"></th:block>
    <th:block th:replace="fragments/common/headerFragment :: header"></th:block>
    <th:block th:replace="fragments/common/mobileHeaderFragment :: mobileHeader"></th:block>
</head>
<body>
<th:block th:replace="fragments/common/importFragment :: i-header"></th:block>

<div class="max-w-7xl md:w-auto mx-auto md:pt-4 md:pl-20 ">
<img class="my-2" src="/img/11.png">
</div>

<th:block th:replace="fragments/common/footerFragment :: footer"></th:block>
<th:block th:replace="fragments/common/importFragment :: i-footer"></th:block>
</body>
</html>