<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      style="height: 100%;">
<head>
    <th:block th:replace="fragments/common/importFragment :: i-header"></th:block>
    <th:block th:replace="fragments/common/headerFragment :: header"></th:block>
    <th:block th:replace="fragments/common/mobileHeaderFragment :: mobileHeader"></th:block>
</head>
<body>
<div class="overflow-hidden bg-gray-100">
    <div class="relative mx-auto max-w-7xl pt-16 px-6 lg:px-8 ">
        <div class="text-base w-full flex">
            <div class="block w-full">
                <h2 class="text-lg font-semibold text-indigo-600">ITZON의 새소식 및 공지사항을 확인하세요</h2>
                <h3 class="my-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">공지사항(공사중)</h3>
                <div class="flex item-center my-2">
                    <select id="searchSelectBox" name="qnAPhoneNo" autocomplete="tel" class="block rounded-md border-gray-300 mx-2 py-3 px-4 text-gray-900 shadow-sm focus:border-indigo-500 focus:ring-indigo-500" aria-describedby="phone-optional">
                        <option selected>전체</option>
                        <option>작성자</option>
                        <option>제목</option>
                        <option>내용</option>
                    </select>
                    <input type="text" id="noticeSearchCondition" name="noticeSearchCondition"  class="block flex-1 rounded-md border-gray-300 py-3 px-4 text-gray-900 shadow-sm focus:border-indigo-500 focus:ring-indigo-500" aria-describedby="phone-optional">
                    <button type="button" id = "btnSearchNotice" class="relative inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-black rounded shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">　<i class="fa-solid fa-magnifying-glass"></i>　</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="overflow-hidden bg-gray-100">
    <div class="relative mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mt-1 ag-theme-balham flex-1 w-full min-h-[13rem]" style="height: 300px;" id="NoticeNoticeGrid" ></div>
    </div>
</div>
<div class="bg-gray-100">
    <main>
        <div class="bg-warm-gray-50">
            <div class="mx-auto max-w-md py-5 px-6 sm:max-w-3xl sm:py-5 lg:max-w-7xl lg:px-8">
                <div class="lg:grid lg:grid-cols-3 lg:gap-8">
                    <div>
                        <h2 class="text-3xl font-bold tracking-tight text-warm-gray-900" id="noticeTitle"></h2>
                        <p class="mt-4 text-lg text-warm-gray-500" id="noticeCreId"></p>
                        <div class="py-2 my-2">
                            <button type="button" class="flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:inline-flex sm:w-auto">첨부파일</button>
                            <div id="result" class="flex-col md:flex-row mr-2 relative flex flex-col font-black md:flex-row flex-auto"></div>
                        </div>
                    </div>
                    <div class="mt-12 lg:col-span-2 lg:mt-0">
                        <dl class="space-y-12">
                            <div>
                                <dt class="text-lg font-medium text-warm-gray-900"></dt>
                                <dd class="mt-2 text-base text-warm-gray-500" id="noticeContent"></dd>
                            </div>
                            <input   id="noticeNo" name="noticeNo" class="hidden" >
                        </dl>
                    </div>
                </div>
            </div>
        </div>

    </main>

</div>

<th:block th:replace="fragments/common/footerFragment :: footer"></th:block>
<th:block th:replace="fragments/common/importFragment :: i-footer"></th:block>
<script src="/js/web/company/notice/notice.js"></script>
</body>

</html>




<!--

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      style="height: 100%;">
<head>
    <th:block th:replace="fragments/common/importFragment :: i-header"></th:block>
    <th:block th:replace="fragments/common/headerFragment :: header"></th:block>
    <th:block th:replace="fragments/common/mobileHeaderFragment :: mobileHeader"></th:block>
</head>
<body>
<div class="max-w-7xl m-0 m-auto flex border bg-cover w-100% h-20 blur-sm" style="background-image: url(/img/QnAImg.png)">
    <div class="text-2xl leading-6 font-bold  text-gray-900 mb-3 "> 　</div>  <div class="font-bold"> </div>
</div>
<div class="max-w-7xl m-0 m-auto">

    <div class=" flex-1 flex flex-col h-full" id="divRight">
        <div class="px-4  max-h-screen">
            <div class="ml-4 py-5 flex bg-red w-100% -mt-20 z-50">
                <p class="text-4xl leading-6 font-bold  text-white mb-3   z-50">공지사항　  <span class="text-sm">ITZON의 새소식 및 공지사항을 확인하세요</span>　</p>
            </div>
            <div class=" grid-cols-2 sm:flex " style="height: 75vh;">

                &lt;!&ndash;조회조건 + 공지사항목록 그리드 + 상세정보&ndash;&gt;
                <div class = "px-4 w-full h-full">
                    &lt;!&ndash;조회조건&ndash;&gt;
                    <div class="bg-white px-4 py-5 border-y-2 border-gray-300 sm:px-6 relative">
                        <div class="ml-4 mb-2 flex flex-col md:flex-row items-left justify-between flex-wrap sm:flex-nowrap absolute bottom-0 left-0" style="width:90%">
                            &lt;!&ndash;                            <div class="mx-6 mt-2 invisible font-black  md:visible flex-none">&ndash;&gt;
                            &lt;!&ndash;                                조회기간&ndash;&gt;
                            &lt;!&ndash;                                <input class=" border-b bg-white border-gray-500 text-sm text-gray-500 "  type="date" id="searchNoticeStartDt">&ndash;&gt;
                            &lt;!&ndash;                                ~&ndash;&gt;
                            &lt;!&ndash;                                <input class=" border-b bg-white border-gray-500 text-sm text-gray-500 "  type="date" id="searchNoticeEndDt">&ndash;&gt;
                            &lt;!&ndash;                            </div>&ndash;&gt;
                            <div class="ml-2 mt-2 flex flex-auto font-black">구분
                                <select  id="searchSelectBox" class="rounded border bg-white border-gray-500 text-sm text-gray-500 " >
                                    <option value="all">전체</option>
                                    <option value="creId">작성자</option>
                                    <option value="title">제목</option>
                                    <option value="content">내용</option>
                                </select>
                                <input class="rounded flex-Initial border bg-white border-gray-500 text-sm text-gray-500 w-[200px]" placeholder="  검색어를 입력해주세요 " type="text" id="noticeSearchCondition">
                            </div>

                        </div>
                        <div class="-ml-4 mb-1 flex items-center justify-between flex-wrap sm:flex-nowrap absolute bottom-0 right-3">
                            <div class="ml-4 mt-2 flex-shrink-0">
                                <button type="button" id = "btnSearchNotice" class="rounded relative inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-black rounded shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">　<i class="fa-solid fa-magnifying-glass"></i>　</button>
                            </div>
                        </div>
                    </div>  &lt;!&ndash;조회조건End&ndash;&gt;


                    &lt;!&ndash; 공지사항목록 그리드 &ndash;&gt;
                    <div class = "ag-theme-balham h-1/2 pt-3" id="NoticeNoticeGrid" ></div>

                    &lt;!&ndash; 상세정보  &ndash;&gt;
                    <div class="flex relative ">
                        <div class="mt-2">
                            <h3 class="text-lg leading-6  font-black text-gray-900">상세정보</h3>
                        </div>
                    </div>
                    <div class="border-2 bg-white border-gray-300 text-sm text-gray-800 h-1/2" >
                        <div id = "noticeNotice_form2">
                            <form action="/web/notice/noticeNotice/saveNotice" method="POST" onsubmit="return false;" enctype="multipart/form-data">
                                &lt;!&ndash;상세정보&ndash;&gt;
                                <div class="flex flex-col md:flex-col h-full full px-5 py-3 relative " style="width:100%" >
                                    <div class="flex flex-col md:flex-row">
                                        <div class="flex mt-1 " >
                                            <div class="mr-2 relative flex flex-col font-black md:flex-row flex-auto ">
                                                제목
                                                <input id="noticeTitle" name="noticeTitle" class="rounded flex flex-col md:flex-row border flex-auto   border-gray-500 text-sm text-gray-500 " type="text">
                                            </div>
                                            <div class="mr-2 relative flex flex-col font-black md:flex-row flex-auto ">
                                                작성자
                                                <input id="noticeCreId" name="noticeCreId" class="  rounded border  border-gray-500   text-sm text-gray-500 w-[60px]" type="text">
                                            </div>
                                        </div>
                                        &lt;!&ndash;첨부파일&ndash;&gt;
                                        <div class="flex mt-1 filebox">
                                            &lt;!&ndash; 이밑에 다운로드링크 붙음 &ndash;&gt;
                                            <div id="result" class="flex-col md:flex-row mr-2 relative flex flex-col font-black md:flex-row flex-auto"> 첨부파일▶</div>
                                        </div>
                                    </div>

                                    <div class="flex h-full w-full">
                                        <div class=" w-full  h-auto  my-5">
                                            <textarea id="noticeContent" name="noticeContent" class="rounded border  border-gray-500 text-sm text-gray-500 w-full h-full"  rows="9" style="width:100%;height: 100%;"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <input   id="noticeNo" name="noticeNo" class="hidden" >
                            </form>
                        </div>
                    </div> &lt;!&ndash;상세정보   End&ndash;&gt;
                </div> &lt;!&ndash;조회조건 + 공지사항목록 그리드 + 상세정보 End&ndash;&gt;
            </div>
        </div>
    </div>

</div>

<th:block th:replace="fragments/common/footerFragment :: footer"></th:block>
<th:block th:replace="fragments/common/importFragment :: i-footer"></th:block>
<script src="/js/web/company/notice/notice.js"></script>
</body>

</html>-->
