<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      style="height: 100%;">
<head>
    <th:block th:replace="fragments/common/importFragment :: i-header"></th:block>
    <th:block th:replace="fragments/common/headerFragment :: header"></th:block>
</head>
<body>
<th:block th:replace="fragments/common/menuFragment :: Menu"></th:block>
<div class="max-w-7xl m-0 m-auto flex border bg-cover w-100% h-20 blur-sm" style="background-image: url(/img/QnAImg.png)">
    <div class="text-2xl leading-6 font-bold  text-gray-900 mb-3 "> 　</div>  <div class="font-bold"> </div>
</div>
<div class="max-w-7xl m-0 m-auto">

    <div class=" flex-1 flex flex-col h-full" id="divRight">
        <div class="px-4  max-h-screen">
            <div class="ml-4 py-5 flex bg-red w-100% -mt-20 z-50 ">
                <p class="text-3xl leading-6 font-bold  text-white mb-3   z-50">공지사항 관리　  <span class="text-sm">공지사항 관리 페이지입니다.</span> 　</p>
            </div>
            <div class=" grid-cols-2 sm:flex " style="height: 75vh;">
                <!--조회조건 + 공지사항목록 그리드 + 상세정보-->
                <div class = "px-4 w-full h-full">
                    <!--조회조건-->
                    <div class="bg-white px-4 py-5 border-y-2 border-gray-300 sm:px-6 relative">
                        <div class="ml-4 mb-2 flex flex-col md:flex-row items-left justify-between flex-wrap sm:flex-nowrap absolute bottom-0 left-0" style="width:90%">
                            <div class="ml-2 mt-2 flex flex-auto font-black">구분
                                <select  id="searchSelectBox" class="rounded border bg-white border-gray-500 text-sm text-gray-500 " >
                                    <option value="all">전체</option>
                                    <option value="title">제목</option>
                                    <option value="content">내용</option>
                                </select>
                                <input class="rounded flex-Initial border bg-white border-gray-500 text-sm text-gray-500 w-[200px]" placeholder="  검색어를 입력해주세요 " type="text" id="noticeSearchCondition">
                            </div>

                        </div>
                        <div class="-ml-4 mb-1 flex items-center justify-between flex-wrap sm:flex-nowrap absolute bottom-0 right-3">
                            <div class="ml-4 mt-2 flex-shrink-0">
                                <button type="button" id = "btnSearchNotice" class="rounded relative inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-black rounded shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">　<i class="fa-solid fa-magnifying-glass"></i>　</button>
                            </div>
                        </div>
                    </div>  <!--조회조건End-->


                    <!-- 공지사항목록 그리드 -->
                    <div class = "ag-theme-balham h-1/2 pt-3" id="NoticeNoticeGrid" ></div>

                    <!--상세정보 + 신규/저장/삭제Btn-->
                    <div class="flex relative ">
                        <div class="mt-2">
                            <h3 class="text-lg leading-6  font-black text-gray-900">상세정보</h3>
                        </div>
                        <!--신규/저장/삭제Btn-->
                        <div class="text-lg leading-6 font-medium text-gray-900 mr-2 mt-3 absolute bottom-0 right-0" >
                            <button type="button" id = "btnNewNotice" name="btnNewNotice" class="relative inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-black rounded shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">신규</button>
                            <button type="button" id = "btnSaveNotice" name="btnSaveNotice" class="relative inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-black rounded shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">저장</button>
                            <button type="button" id = "btnDeleteNotice" name="btnDeleteNotice" class="relative inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-black rounded shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">삭제</button>
                        </div>
                    </div>
                    <div class="border-2 bg-white border-gray-300 text-sm text-gray-800 h-1/2" >
                        <div id="noticeNotice_form2">
                            <form action="/web/notice/noticeNotice/saveNotice" id="formNotice" method="POST" onsubmit="return false;" enctype="multipart/form-data">
                                <!--                        <form id="noticeNotice_form" class="bg-white h-full" action="/web/notice/noticeNotice/saveNoticeFile" method="post" enctype="multipart/form-data">-->
                                <!--상세정보-->
                                <div class="flex flex-col md:flex-col h-full full px-5 py-3 relative " style="width:100%" >
                                    <div class="flex flex-col md:flex-row h-[30px] ">
                                        <div class="flex mt-1 " >
                                            <div class="mr-2 relative flex flex-col font-black md:flex-row flex-auto ">
                                                제목
                                                <input id="noticeTitle" name="noticeTitle" class="rounded flex flex-col md:flex-row border flex-auto   border-gray-500 text-sm text-gray-500 " type="text" style="padding:5px;">
                                            </div>
                                            <div class="mr-2 relative flex flex-col font-black md:flex-row flex-auto ">
                                                작성자
                                                <input id="noticeCreId" name="noticeCreId" class="  rounded border  border-gray-500   text-sm text-gray-500 w-[60px]" type="text" style="padding:5px;" >
                                            </div>
                                        </div>
                                        <input   id="noticeNo" name="noticeNo" class="hidden z- 10" >

<!--                                        &lt;!&ndash;첨부파일&ndash;&gt;-->
<!--                                        <div class="flex mt-1 filebox">-->
<!--                                            <div class="flex flex-row">-->
<!--                                                &lt;!&ndash;                                                <nav id="NoticeAttachFileBtn" class="border hidden" onclick="$('#NoticeAttachFile').toggle(100);">첨부파일</nav>&ndash;&gt;-->
<!--                                                <div id="NoticeAttachFile" class="z-50 flex flex-row" >-->
<!--                                                    &lt;!&ndash;                                                    <input class="upload-name file-list "   placeholder="첨부파일">&ndash;&gt;-->
<!--                                                    <label for="noticeFileNm2" class="border border-transparent text-md rounded-lg">첨부파일　<i class="fa-solid fa-folder"></i></label>-->
<!--                                                    <input id="noticeFileNm2" name="notice_fileNm" type="file" onchange="addFile(this);" multiple />-->

<!--                                                    &lt;!&ndash;얘 밑에 선택한 파일 붙는용&ndash;&gt;-->
<!--                                                    <div class="z-10 flex flex-row file-list " id="noticeFileList"></div>-->
<!--                                                    &lt;!&ndash;                                                    <button type ="button" id = "fileUpload">전송</button>&ndash;&gt;-->
<!--                                                </div>-->

<!--                                            </div>-->
<!--                                            &lt;!&ndash; 얘밑에 다운로드링크 붙이는용 &ndash;&gt;-->
<!--                                            <div id="result" class="flex-col md:flex-row">  </div>-->
<!--                                        </div>-->
                                    </div>
                                    <div class="flex h-full w-full">
                                        <div class=" w-full  h-auto  my-5">
                                            <textarea  id="noticeContent" name="noticeContent" class="rounded border  border-gray-500 text-sm text-gray-500 w-full h-full"  rows="9" style="width:100%;height: 100%; padding:5px; "></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div> <!--상세정보 + 신규/저장/삭제Btn End-->
                </div> <!--조회조건 + 공지사항목록 그리드 + 상세정보 End-->
            </div>
        </div>
    </div>
    <footer class="mt-40 md:mt-40  px-12 inset-x-0 bottom-0 text-center object-none object-right-bottom ">
        <hr class="six mb-0 md:mb-5">
        <p class="font-extralight text-xs"> 서울특별시 금천구 가산디지털2로 166, 9층 901호 (가산동, 에이스 K1타워) </p>
        <p class="font-extralight text-xs">
            <span class="font-semibold">Tel.</span>
            070-8786-7295~6 　
            <span class="font-semibold">Fax.</span>
            070-8787-9632　
            <span class="font-semibold">대표자</span> 장재혁　
            <span class="font-semibold">사업자등록번호</span>
            204-81-81190
        </p>
        <p class="font-extralight text-xs">Copyright ITZON CO., Ltd. All Rights reserved.</p>
    </footer>
</div>
<th:block th:replace="fragments/common/importFragment :: i-footer"></th:block>
<script src="/js/web/company/notice/notice.js"></script>
<link rel="stylesheet" href="/css/web/noticeNoticeManage.css">
</body>

</html>