<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      style="height: 100%;">
<head>
    <th:block th:replace="fragments/common/importFragment :: i-header"></th:block>
    <th:block th:replace="fragments/common/headerFragment :: header"></th:block>
    <th:block th:replace="fragments/common/mobileHeaderFragment :: mobileHeader"></th:block>
</head>
<body>


<div class="overflow-hidden bg-gray-100">
    <div class="relative mx-auto max-w-7xl pt-16 px-6 lg:px-8 ">
        <div class="text-base w-full flex">
            <div class="block w-full">
                <h2 class="text-lg font-semibold text-indigo-600">무엇을 도와드릴까요?</h2>
                <h3 class="mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">Q&A게시판!!</h3>
                <div class="flex item-center my-2 w-full">
                    <select id="searchSelectBox" name="qnAPhoneNo" autocomplete="tel" class="block rounded-md border-gray-300 py-3 px-4 text-gray-900 shadow-sm focus:border-indigo-500 focus:ring-indigo-500" aria-describedby="phone-optional">
                        <option value="all">전체</option>
                        <option value="title">제목</option>
                        <option value="content">내용</option>
                    </select>
                    <input type="text" id="qnASearchCondition" name="qnAPhoneNo"  class="block mx-2 flex-1 rounded-md border-gray-300 py-3 px-4 text-gray-900 shadow-sm focus:border-indigo-500 focus:ring-indigo-500" aria-describedby="phone-optional">
                    <button type="button" id = "btnSearchQnA" class="relative inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-black rounded shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">　<i class="fa-solid fa-magnifying-glass"></i>　</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="overflow-hidden bg-gray-100 h-full">
    <div class="relative mx-auto max-w-7xl px-6 lg:px-8 h-full">
        <div class="mt-1 ag-theme-balham flex-1 w-full min-h-[13rem] h-full" style="height: 300px;" id="NoticeQnAGrid" ></div>
        <div class="my-2">
            <div class="mt-2">
                <button id="btnAnswer" type="button" class=" my-1 mx-1 inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-xs font-semibold rounded-md text-white bg-zinc-600 hover:bg-zinc-700 focus:outline-none ">
                    <i class="fa-solid fa-circle-plus -ml-1 mr-2 h-3 w-3"></i>
                    답변
                </button>
                <button id="btnNewQnA" type="button" class="my-1 mx-1 inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-xs font-semibold rounded-md text-white bg-zinc-600 hover:bg-zinc-700 focus:outline-none ">
                    <i class="fa-solid fa-circle-plus -ml-1 mr-2 h-3 w-3"></i>
                    신규
                </button>
                <button id="btnSaveQnA" type="button" class="my-1 mx-1 inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-xs font-semibold rounded-md text-white bg-stone-400 hover:bg-stone-500 focus:outline-none ">
                    <i class="fa-solid fa-arrows-spin -ml-1 mr-2 h-3 w-3"></i>
                    저장
                </button>
                <button id="btnDeleteQnA" type="button" class="my-1 mx-1 inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-xs font-semibold rounded-md text-white bg-zinc-600 hover:bg-zinc-700 focus:outline-none ">
                    <i class="fa-solid fa-floppy-disk -ml-1 mr-2 h-3 w-3"></i>
                    삭제
                </button>
            </div>
        </div>
    </div>
</div>


<div class="bg-gray-100">
    <div class="mx-auto max-w-7xl py-5 px-6 sm:py-5 lg:px-8">
        <div class="relative bg-white shadow-xl">
            <h2 class="sr-only">문의 작성</h2>

            <div class="grid grid-cols-1 lg:grid-cols-3">
                <!-- Contact information -->
                <div class="relative overflow-hidden bg-indigo-700 py-10 px-6 sm:px-10 xl:p-12">
                    <div class="pointer-events-none absolute inset-0 sm:hidden" aria-hidden="true">
                        <svg class="absolute inset-0 h-full w-full" width="343" height="388" viewBox="0 0 343 388" fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                            <path d="M-99 461.107L608.107-246l707.103 707.107-707.103 707.103L-99 461.107z" fill="url(#linear1)" fill-opacity=".1" />
                            <defs>
                                <linearGradient id="linear1" x1="254.553" y1="107.554" x2="961.66" y2="814.66" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#fff"></stop>
                                    <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                                </linearGradient>
                            </defs>
                        </svg>
                    </div>
                    <div class="pointer-events-none absolute top-0 right-0 bottom-0 hidden w-1/2 sm:block lg:hidden" aria-hidden="true">
                        <svg class="absolute inset-0 h-full w-full" width="359" height="339" viewBox="0 0 359 339" fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                            <path d="M-161 382.107L546.107-325l707.103 707.107-707.103 707.103L-161 382.107z" fill="url(#linear2)" fill-opacity=".1" />
                            <defs>
                                <linearGradient id="linear2" x1="192.553" y1="28.553" x2="899.66" y2="735.66" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#fff"></stop>
                                    <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                                </linearGradient>
                            </defs>
                        </svg>
                    </div>
                    <div class="pointer-events-none absolute top-0 right-0 bottom-0 hidden w-1/2 lg:block" aria-hidden="true">
                        <svg class="absolute inset-0 h-full w-full" width="160" height="678" viewBox="0 0 160 678" fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                            <path d="M-161 679.107L546.107-28l707.103 707.107-707.103 707.103L-161 679.107z" fill="url(#linear3)" fill-opacity=".1" />
                            <defs>
                                <linearGradient id="linear3" x1="192.553" y1="325.553" x2="899.66" y2="1032.66" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#fff"></stop>
                                    <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                                </linearGradient>
                            </defs>
                        </svg>
                    </div>
                    <h3 class="text-lg font-medium text-white">Contact information</h3>
                    <p class="mt-6 max-w-3xl text-base text-indigo-50">
                        서울특별시 금천구 가산디지털2로 166, 901호(가산동,에이스K1타워)
                    </p>
                    <dl class="mt-8 space-y-6">
                        <dt><span class="sr-only">대표 번호</span></dt>
                        <dd class="flex text-base text-indigo-50">
                            <!-- Heroicon name: outline/phone -->
                            <svg class="h-6 w-6 flex-shrink-0 text-indigo-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
                            </svg>
                            <span class="ml-3">070-8786-7295~6</span>
                        </dd>
                        <dt><span class="sr-only">팩스 번호</span></dt>
                        <dd class="flex text-base text-indigo-50">
                            <!-- Heroicon name: outline/envelope -->
                            <svg class="h-6 w-6 flex-shrink-0 text-indigo-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                            </svg>
                            <span class="ml-3">070-8787-9632 (FAX)</span>
                        </dd>
                        <dt><span class="sr-only">이메일</span></dt>
                        <dd class="flex text-base text-indigo-50">
                            <!-- Heroicon name: outline/envelope -->
                            <svg class="h-6 w-6 flex-shrink-0 text-indigo-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                            </svg>
                            <span class="ml-3">support@itzon.co.kr(공사중)<br></span>
<!--                            <span class="ml-3">bcs0818@naver.com</span>-->
                        </dd>
                    </dl>
                </div>

                <!-- Contact form -->
                <div class="py-10 px-6 sm:px-10 lg:col-span-2 xl:p-12">
                    <h3 class="text-lg font-medium text-gray-900">Send us a message</h3>
                    <form id="noticeQnA_form" action="File" method="POST" class="mt-6 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8">

                        <input   id="qnAPassWordHidden" name="qnAPassWordHidden" class="hidden" type="password">
                        <input   id="qnAState" name="qnAState" class="hidden" type="password">
                        <input   id="qnAId" name="qnAId" class="hidden" >
                        <input   id="qnAOriginId" name="qnAOriginId" class="hidden">
                        <input   id="qnAOrdId" name="qnAOrdId" class="hidden">
                        <input   id="qnAGroupId" name="qnAGroupId" class="hidden">

                        <div>
                            <label for="qnAUserNm" class="block text-sm font-medium text-gray-900">고객명</label>
                            <div class="mt-1">
                                <input type="text"  id="qnAUserNm" name="qnAUserNm" class="block w-full rounded-md border-gray-300 py-3 px-4 text-gray-900 shadow-sm focus:border-indigo-500 focus:ring-indigo-500">
                            </div>
                        </div>
                        <div>
                            <label for="qnACompNm" class="block text-sm font-medium text-gray-900">회사명</label>
                            <div class="mt-1">
                                <input type="text" input id="qnACompNm" name="qnACompNm" autocomplete="family-name" class="block w-full rounded-md border-gray-300 py-3 px-4 text-gray-900 shadow-sm focus:border-indigo-500 focus:ring-indigo-500">
                            </div>
                        </div>
                        <!--<div>
                            <label for="email" class="block text-sm font-medium text-gray-900">Email</label>
                            <div class="mt-1">
                                <input id="email" name="email" type="email" autocomplete="email" class="block w-full rounded-md border-gray-300 py-3 px-4 text-gray-900 shadow-sm focus:border-indigo-500 focus:ring-indigo-500">
                            </div>
                        </div>-->
                        <div>
                            <label for="qnAPhoneNo" class="block text-sm font-medium text-gray-900">핸드폰</label>
                            <div class="mt-1">
                                <input type="text" id="qnAPhoneNo" name="qnAPhoneNo" autocomplete="tel" class="block w-full rounded-md border-gray-300 py-3 px-4 text-gray-900 shadow-sm focus:border-indigo-500 focus:ring-indigo-500" aria-describedby="phone-optional">
                            </div>
                        </div>
                        <div>
                            <label for="qnAPhoneNo" class="block text-sm font-medium text-gray-900">연락처</label>
                            <div class="mt-1">
                                <input type="text" id="qnATelNo" name="qnATelNo" autocomplete="tel" class="block w-full rounded-md border-gray-300 py-3 px-4 text-gray-900 shadow-sm focus:border-indigo-500 focus:ring-indigo-500" aria-describedby="phone-optional">
                            </div>
                        </div>
                        <div class="sm:col-span-2">
                            <label for="qnAPassWord" class="block text-sm font-medium text-gray-900">비밀번호</label>
                            <div class="mt-1">
                                <input type="text" id="qnAPassWord" name="qnAPassWord" class="block w-full rounded-md border-gray-300 py-3 px-4 text-gray-900 shadow-sm focus:border-indigo-500 focus:ring-indigo-500">
                            </div>
                        </div>
                        <div class="sm:col-span-2">
                            <label for="subject" class="block text-sm font-medium text-gray-900">제목</label>
                            <div class="mt-1">
                                <input type="text" name="subject" id="subject" class="block w-full rounded-md border-gray-300 py-3 px-4 text-gray-900 shadow-sm focus:border-indigo-500 focus:ring-indigo-500">
                            </div>
                        </div>
                        <div class="sm:col-span-2">
                            <div class="flex justify-between">
                                <label for="qnAContent" class="block text-sm font-medium text-gray-900">문의 내용</label>
                                <span id="message-max" class="text-sm text-gray-500">최대 500자</span>
                            </div>
                            <div class="mt-1">
                                <textarea id="qnAContent" name="qnAContent" rows="4" class="block w-full rounded-md border-gray-300 py-3 px-4 text-gray-900 shadow-sm focus:border-indigo-500 focus:ring-indigo-500" aria-describedby="message-max"></textarea>
                            </div>
                        </div>
                        <div class="sm:col-span-2 sm:flex sm:justify-end">
                            <button type="submit" class="mt-2 inline-flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments/common/footerFragment :: footer"></th:block>
<th:block th:replace="fragments/common/importFragment :: i-footer"></th:block>
<script src="/js/web/company/notice/qna.js"></script>
<script src="/js/web/company/notice/qnaPopupAnswer.js"></script>
</body>

</html>
